@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --clr-white: #ffffff;
    --clr-text: #121212;
    --clr-accent: #314C24; 
    --clr-bg: #BAC3B6;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr-text);
    background-color: var(--clr-bg);
    font-family: "Catamaran";
}

.wrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--clr-white);
}

header {
    padding: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.header-wrapper {
    display: flex;
}

.final-design-images {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--clr-accent);
    left: 0;
    top: 0;
    transform-origin: bottom left;
    transform: rotateZ(-15deg) scaleX(1.5);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.header-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    aspect-ratio: 1/1;
    background: url(images/header-image.jpg);
    background-size: cover;
    background-position: right ;
    padding: 0.5rem;
    flex: 3;
    float: left;
    min-width: 300px;
    color: var(--clr-white);
}

.header-image h1{
    font-size: 3rem;
    text-transform: uppercase;
}

.header-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    padding: 2rem 1rem 1rem;
    background-color: var(--clr-white);
    flex: 4;
    margin: 2rem 0;
    gap: 1rem;
}

.header-about .links {
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
    color: black;
    align-self: flex-end;
}

.header-about > h2 {
    padding-left: 1rem;
}
.header-about > p {
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding-inline: 3rem;
    text-align: justify;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

br{
    border: 1px solid black;
}

.card {
    width: 100%;
    height: 100%;
    aspect-ratio: 5 / 6;
    display: grid;
    grid-template-rows: 1fr;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.card-image-my-anime-list {
    background: url(images/my-anime-list.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;

}

.card-image-monzo {
    background: url(images/monzo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
}

.card-image-nuar {
    background: url(images/nuar.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;

}

.card-description {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-description p {
    font-size: 0.8rem;
}

.project-links-my-anime-list {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr; /* 1fr 1fr; */
    gap: 0.5rem;
}


.project-links {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

footer {
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding: 2rem 3rem;
    background-color: var(--clr-accent);
    color: var(--clr-white);
    gap: 1rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Catamaran"
}

button:hover {
    background-color: var(--clr-accent);
}

.contacts p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.communicate {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.communicate img{
    filter: invert(100%);
}

.monzo-image {
    display: flex;
    width: 500px;
    height: 500px;
    
}
.body
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create-contract{
    display: flex;
    flex-direction: row;
}


.create-contract-image { 
    min-width: 180px;
    width: 100%;
    aspect-ratio: 4/3;
    background: url(images/create\ contract.png) no-repeat;
    background-size: cover;
    background-position: top;
}
.nuar-image {
    min-width: 180px;
    width: 100%;
    aspect-ratio:1/1;
    background: url(images/nuar.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.acceptance-criteria-image {
    min-width: 180px;
    width: 100%;
    aspect-ratio: 7/4;
    background: url(images/acceptance\ criteria.png) no-repeat;
    background-size: contain;
    background-position: center;
    padding: -100px;
}
.supply-chain-overview-image{
    min-width: 180px;
    width: 100%;
    aspect-ratio: 4/3;
    background: url(images/supply\ chain\ overview.png) no-repeat;
    background-size: contain;
    background-position: center;

}
.user-stories-image {
    min-width: 180px;
    width: 100%;
    aspect-ratio: 7/4;
    background: url(images/user\ stories.png) no-repeat;
    background-size: contain;
    background-position: center;

}
.search-supply-chain-image {
    min-width: 180px;
    width: 100%;
    aspect-ratio: 4/3;
    background: url(images/create\ supply\ chain\ with\ search.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.manage-supply-chain-final-image{
    min-width: 180px;
    width: 100%;
    aspect-ratio: 4/3;
    background: url(images/manage\ supply\ chain\ final.png) no-repeat;
    background-size: cover;
    background-position: center;

}
.edit-supply-chain-final-image{
    min-width: 180px;
    width: 100%;
    aspect-ratio: 4/3;
    background: url(images/edit\ supply\ chain\ final.png) no-repeat;
    background-size: cover;
    background-position: center;

}
.create-supply-chain-final-image{
    min-width: 180px;
    width: 100%;
    aspect-ratio: 4/3;
    background: url(images/create\ supply\ chain\ final.png) no-repeat;
    background-size: cover;
    background-position: center;

}
.create-supply-chain-2-final-image{
    min-width: 180px;
    width: 100%;
    aspect-ratio: 4/3;
    background: url(images/create\ supply\ chain\ 2\ final.png) no-repeat;
    background-size: cover;
    background-position: center;

}
.current-information-architecture-image{
    min-width: 180px;
    width: 100%;
    aspect-ratio: 7/2;
    background: url(images/current-information-architecture.png) no-repeat;
    background-size: contain;
    background-position: center;
}
.new-information-architecture-image {
    min-width: 180px;
    width: 100%;
    aspect-ratio: 7/2;
    background: url(images/new-information-architecture.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.monzo-description {
    display: flex;
    gap: 30px;

}

.monzo-introduction {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

[class$="page"] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

[class$="page"] > img{
    width: 200px;
    height: auto;
}

h1, h2, h3 {
    font-family: "Karla";

}
.contacts-image {
    min-width: 180px;
    width: 100%;
    aspect-ratio: 4/3;
    background: url(images/footer-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

h3 > a {
    color: black;
    text-decoration: underline;
}
 p > a {
    text-decoration: underline;
    color: black;
 }
a {
    text-decoration: none;
    color: white;
  }


h3 > a:hover {
    color: var(--clr-accent);
}
.contacts .links {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
}

.caption{
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
    .header-about .links {
        display: none;
    }
    .header-image {
        min-width: 200px;
    }
    header, main, footer {
        padding: 1rem;
    }
}

@media (max-width: 500px) {
    .header-wrapper {
        flex-direction: column;
    }
    .header-about {
        margin: 0;
        background: none;
        box-shadow: none;
    }
    .header-about .links,
    footer .links {
        display: flex;
        align-self: center;
    }
    footer{
        display: flex;
        flex-wrap: wrap; 
    }
    h2 {
        text-align: center;
    }
    .header-image {
        position: relative;
    }
    header::before {
        background: none;
        box-shadow: none;
    }
    .header-image::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--clr-accent);
        left: 0;
        top: 0;
        transform-origin: bottom left;
        transform: rotateZ(-15deg) scaleX(1.5) translateX(-2rem) translateY(-1rem); 
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}